.lager{font-size: 100px;
text-align: center;
margin-top: 0%;
margin-bottom: 6px;}

.under{font-size: 25px;
text-align: end;

margin-right: 25%;

margin-top: 10px;}

.welcom{font-size: 40px;

    color: crimson;

    text-align: center;

margin-top: 75px;}

.one{
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}

.two{margin-top: 0px;
margin-bottom: 0px;
text-align: center;}

.tree{margin-top: 0px;
margin-bottom: 0px;
text-align: center;}

.four{margin-left: 400px;
margin-bottom: 0px;
margin-right: 400px;}

.five{text-align: center;
margin-top: 0px;
color: orangered;
margin-bottom: 0px;}

.six{color: orangered;}

.seven{margin-left: 400px;
color: orangered;}

.eight{margin-top: 20px;}


